/* eslint-disable */

@tailwind base;
@tailwind components;
@tailwind utilities;


.dark-gradient {
  top: 0;
  left: 0;
  background-color: #151515;
  z-index: -1;
}

.dark2-gradient {
  top: 0;
  left: 0;
  background-color: #19003e;
  z-index: -1;
}

  .glassy {
    background-color: rgba(11, 11, 11, 0.4);
    border: 1px solid white;
    box-shadow: 2px 2px 5px 5px rgba(106, 106, 106, 0.8);
    opacity: 0.git 9;
    padding: 10px;
  }

  .glassy2 {
    background-color: rgba(32, 0, 83, 0.4);
    border: 1px solid white;
    box-shadow: 2px 2px 5px 5px rgba(106, 106, 106, 0.8);
    opacity: 0.git 9;
    padding: 10px;
  }

  .glassy3 {
    background-color: rgb(216, 186, 255);
    border: 1px solid white;
    padding: 10px;
  }

  .glassy-no-glow {
    background-color: rgba(0, 0, 0, 0.4);
    border: 0.2px solid rgb(106, 99, 119);
    opacity: 0.git 9;
    padding: 10px;
  }
  
  .glassy-no-glow-form {
    background-color: rgba(19, 0, 56, 0.4);
    opacity: 0.git 0;
    padding: 10px;
    box-shadow: 2px 2px 5px 5px rgba(106, 106, 106, 0.8);

  }

  .glassy-no-glow2 {
    background-color: rgba(19, 0, 56, 0.4);
    border: 0.2px solid rgb(123, 123, 123);
    opacity: 0.git 9;
    padding: 10px;
  }
  

  .fg1 {
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0.git 9;
  }

  .chat-container {
    background-color: rgb(0, 0, 0, 0.4);
    border: 0.2px solid rgb(114, 100, 125);
    opacity: 1.git 0;
    margin-left: 2px;
  }

  .cursorr-purple {
    cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Ccircle cx='12' cy='12' r='8' fill='purple'/%3E%3C/svg%3E"), auto;
  }

  .element {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  }

  